
        <div class="row mt-5">
            <div class="col-md-4 m-auto">
             <div class="card card-body">
                <div class="jumbotron">
                                      
         <h1 class="text-center mb-3">Login   </h1>
                
<form method="post" action="/users/login">
      <div class="form-group">
        <p>
            <label>Username</label>
            <input type="text" name="username" placeholder="created name"  class="form-control">
        </p>
        </div>
         <p>
        <label>Password</label>
        <input type="text" name="password" placeholder="created password"  class="form-control">
         </p>
         
         <a href="/users/dashborad" class="btn btn-primary btn-block">Login</a>
</form> 

<p class="lead mt-4">Have An Account? <a href="/users/register">Register</a></p>
</div>
</div>
</div>


